.post {
    border: 1px solid lightgray;
    max-width: 550px;
    background-color: white;
    margin-bottom: 25px;

    &:first-child {
        margin-top: 15px;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin: 10px;
    }

    &__img {
        width: 100%;
        object-fit: contain;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    &__text {
        font-weight: normal;
        padding: 20px;
    }
}