.app__header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    z-index: 4;
    box-sizing: border-box;

    &__image {
        object-fit: contain;
    }

    .app-actions {
        display: flex;
        align-items: center;

        .add-post {
            margin-right: 10px;
            font-size: 30px;
        }
    }

    button {
        background: #0095f6;
        font-weight: 900;
        color: white;
        width: 150px;

        &:hover {
            background: initial !important;
        }
    }
}